.footer-container {
  color: $white;
  
  background: #666;
  margin: 0 auto;
  margin-top: rem-calc(60);
}

.footer {
  @include xy-grid-container;
  @include xy-grid;
  padding: rem-calc(30) 0;

  article {
    @include xy-cell(auto);
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.footer-contact-info {
  @include xy-cell(12);
}

.footer-contact-info {
  font-weight: bold;
  text-align: center;
  
  .copyright {
    font-size: 12px;
    
    margin-top: 1rem;
  }
  
}

